// carousel functionality
const carouselImages = document.querySelectorAll(".carousel-inner img");
let activeImage = 0;

function changeImage() {
  carouselImages[activeImage].classList.remove("active");
  activeImage = (activeImage + 1) % carouselImages.length;
  carouselImages[activeImage].classList.add("active");
}

setInterval(changeImage, 3000);  // Change image every 3 seconds

// Navigation active link styling
const links = document.querySelectorAll('.side-nav a');
links.forEach(link => {
  link.addEventListener('click', function() {
    links.forEach(link => link.classList.remove('active'));
    this.classList.add('active');
  });
});

// QR Section visibility
if (document.body.classList.contains("home")) {
  document.querySelector(".qr-section").style.display = "block";
} else {
  document.querySelector(".qr-section").style.display = "none";
}
